.country {
  margin: 3rem 0;
}

.country-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.country-flag_wrap {
  border-radius: 5px;
  /* box-sizing: content-box; */
  /* border: 0.33rem solid rgba(0, 0, 0, 0.025); */
  width: 50%;
}
.county-flag_img {
  width: 100%;
  /* aspect-ratio: 5/3; */
  background-position: center;
  object-fit: contain;
}

.country-details {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country-details > div {
  margin: 2rem 0;
}
.country-details_specs {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.spec {
  margin-bottom: 0.5rem;
}
.col-1,
.col-2 {
  width: 50%;
}

.border-countries {
  display: flex;
}
.label {
  flex-shrink: 0;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
  display: flex;
}
.border-countries_btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.spec .stat:not(:last-of-type)::after {
  content: ", ";
}

.empty-set {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .country-details_specs,
  .border-countries {
    flex-direction: column;
  }

  .country-container {
    align-items: flex-start;
  }

  .col-1,
  .col-2 {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .country-container {
    flex-direction: column;
    align-items: center;
  }

  .country-flag_wrap {
    width: 80%;
    margin-bottom: 2rem;
  }

  .country-details {
    width: 80%;
  }

  .country-details_specs,
  .border-countries {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .country {
    margin: 3rem -2rem 3rem;
  }

  .country-flag_wrap,
  .country-details {
    width: 100%;
  }

  .country-details_specs,
  .border-countries {
    flex-direction: column;
  }
}
