.filter {
  display: flex;
  flex-direction: column;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: 0px;
  outline: 0px;
  background-color: var(--color-elements);
  border-radius: 5px;
  padding: 1rem 2rem 1rem;
  padding-right: 3rem;
}

select.active {
  outline: none;
}
