.filter {
  background-color: var(--color-elements);
  position: relative;
  padding: 1rem 4rem 1rem 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.filter:hover {
  cursor: pointer;
}
.filter:focus {
  outline: 0px;
}
.filter:focus .label,
.filter:hover .label {
  opacity: 0.7;
}

.filter .label {
  padding: 0;
}
