.search {
  position: relative;
  min-width: 33%;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
}

.search-input {
  width: 100%;
  background-color: var(--color-elements);
  border: none;
  color: inherit;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 1000px) {
  .search {
    min-width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .search {
    min-width: auto;
    flex-grow: 1;
  }
}

@media screen and (max-width: 600px) {
  .search {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 2rem;
  }
}
