:root,
:root.light {
  --color-text: hsl(200, 15%, 8%);
  --color-elements: hsl(0, 0%, 100%);
  --color-bg: hsl(0, 0%, 98%);
  --color-input: hsl(0, 0%, 52%);
  --color-shadow: hsl(200, 15%, 58%);
}

:root.dark {
  --color-text: hsl(0, 0%, 100%);
  --color-elements: hsl(209, 23%, 22%);
  --color-bg: hsl(207, 26%, 17%);
  --color-shadow: hsl(207, 26%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
  color: inherit;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

body {
  width: 100vw;
  color: var(--color-text);
  background-color: var(--color-bg);
}
