:root,
:root.light {
  --color-text: hsl(200, 15%, 8%);
  --color-elements: hsl(0, 0%, 100%);
  --color-bg: hsl(0, 0%, 98%);
  --color-input: hsl(0, 0%, 52%);
  --color-shadow: hsl(200, 15%, 58%);
  --box-shadow: 0 2px 5px var(--color-shadow);
}

:root.dark {
  --color-text: hsl(0, 0%, 100%);
  --color-elements: hsl(209, 23%, 22%);
  --color-bg: hsl(207, 26%, 17%);
  --color-shadow: hsl(207, 26%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
  color: inherit;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

body {
  width: 100vw;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.main-content {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 3rem;
}

/* Reduce column count as screen width diminishes */
@media screen and (max-width: 1000px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
