.country-card {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-elements);
}

.flag {
  width: 300px;
  height: 180px;
  background-position: center;
  object-fit: cover;
}

.country_info {
  padding: 1rem;
}
.country_info > div {
  margin-bottom: 0.5rem;
}

.country_name {
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
