.header {
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-elements);
  box-shadow: var(--box-shadow);
}

.title {
  font-weight: 800;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: none;
  border: none;
}

.theme-toggle:hover {
  cursor: pointer;
}
